/* Error: Missing argument $pixel.
 *   ,--> styles\blocks\_blog-actions.scss
 * 27|       padding: rem() rem(12);
 *   |                ^^^^^ invocation
 *   '
 *   ,--> styles\helpers\_functions.scss
 * 3 | @function rem($pixel) {
 *   |           =========== declaration
 *   '
 *   styles\blocks\_blog-actions.scss 27:16  rem()
 *   styles\blocks\_blog-actions.scss 27:16  @content
 *   styles\helpers\_media.scss 16:5         laptop()
 *   styles\blocks\_blog-actions.scss 25:5   @use
 *   styles\main.scss 30:1                   root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Missing argument $pixel.\a   \250c \2500 \2500 > styles\\blocks\\_blog-actions.scss\a 27\2502        padding: rem() rem(12);\d\a   \2502                 ^^^^^ invocation\a   \2575 \a   \250c \2500 \2500 > styles\\helpers\\_functions.scss\a 3 \2502  @function rem($pixel) {\d\a   \2502            \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  declaration\a   \2575 \a   styles\\blocks\\_blog-actions.scss 27:16  rem()\a   styles\\blocks\\_blog-actions.scss 27:16  @content\a   styles\\helpers\\_media.scss 16:5         laptop()\a   styles\\blocks\\_blog-actions.scss 25:5   @use\a   styles\\main.scss 30:1                   root stylesheet";
}
